<!DOCTYPE html>
<html lang="kr">
<head>
    {% load static %}
    {% static "" as baseUrl %}
    <meta charset="UTF-8">
    <title>chart2</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link rel="stylesheet" href="{% static 'css/c3.min.css'%}" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script src="{% static 'js/d3.min.js'%}"></script>
<script src="{% static 'js/c3.min.js'%}"></script>
</head>
<body>

<div id="page1" data-role="page">
    <div id="header3" data-role="header">
        <div data-role="navbar">
        <ul><li><a href="/" data-transition="slideup"  >Home</a> </li>
            <li><a href="/#page2" data-transition="slideup">Address </a></li>
            <li><a href="survey/show_result2?survey_idx=2" >survey</a> </li>
            <li><a href="chart2" class="ui-btn-active">Chart2</a> </li>
        </ul>
        </div>
    </div>
    <div data-role="main" class="ui-content">
        <h2>
            <input type="button" value="Ajax" id="btn1">
        </h2>

        <div>
            <div id="chart2"></div>
        </div>

    </div>
    <div data-role="footer">
        <h2>Footer content.......</h2>
    </div>

    <script>
    $(function(){

    $('#btn1').click(function(){
    //console.log("test");
        $.ajaxPrefilter('json',function(options,orig,jqXHR){
            return 'jsonp';
            });
        $.ajax({
            url : 'http://ecos.bok.or.kr/api/StatisticSearch/sample/json/kr/1/10/010Y002/MM/201101/201106/AAAA11/',
            type: 'GET',
            dataType : 'json',
            success: function (result) {
                makePieChart(result);
                },
            error : function (result) {
                console.log("error >>"+$(result).text());
                }
    });

function makePieChart(jsonData){
    var rows = jsonData.StatisticSearch.row;
    var datas = new Array();

    for (var row in rows) {
        var temp = new Array();
        temp.push(rows[row].TIME);
        temp.push(rows[row].DATA_VALUE);
        datas.push(temp);

    }
    console.log("Datas : "+datas)

    var chart = c3.generate({
        bindto: '#chart2',
        data : {
            type : 'pie',
            columns : datas
        }
    });
}
    });

    });
    </script>
</div>
</body>
</html>