{% extends 'finalProject/header4.html' %}
{% block content %}
<!--위의 두줄은 헤어를 붙이기 위한 코드-->
<body class="text-center">
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-10 mx-auto">
        <h5 style="align: center">"말의 외부에는 사람의 내부에 좋은 </h5>
        <h5>무엇인가가 있습니다."</h5>
        <h6 align="right">-윈스턴 처칠-</h6>
      </div>
    </div>
  </main>
  <a href="info_ride_horse"><img src="/static/image/ride1.jpg" title="승마" style="width:100% ; float:center"></a>
  <br>
  <br>
  <a href="info_run_horse"><img src="/static/image/race1.jpg" title="경마" style="width:100% ; float:center"></a>
</body>
{% endblock %}
<!--위의 코드도 헤더 붙이기 위한 코드-->