{% extends 'finalProject/header4.html'%}
{% block content %}
<style>
    form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 280px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
</style>
<body>
    <form method="post" action="join_Oraclite" style="padding-top:5px">
        {% csrf_token %}
        <br>
        <table >
            <tr>
                <td>아이디</td>
                <td><input type = "text" name="mid" id="mid"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type = "password" name="mpwd" id="mpwd"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type = "text" name="mname" id="mname"></td>
            </tr>
            <tr>
                <td>연락처</td>
                <td><input type = "text" name="mtel" id="mtel"></td>
            </tr>
            <tr>
                <td>가입형태</td>
                <td>
                    <select name="madmin" id="madmin" style="float:left">
                        <option value="">선택</option>
                        <option value="0">회원</option>
                        <option value="1">관리자</option>
                    </select>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="회원가입" style="float:right">
                    &nbsp
                    <input type="button" value="취소" id="cancel" style="float:right">
                </td>
            </tr>
            <thead>
            <tr>
                <th colspan="2">
                    회원 가입 페이지
                </th>
            </tr>
            </thead>
        </table>
    </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function(){
    $('#cancel').click(function(){
        location.href="/finalProject/home1"
    });
    });
</script>
</body>
{% endblock %}