{% extends 'finalProject/header4.html'%}
{% block content %}

{% load static %}
{% static "" as baseUrl %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts_sign3/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css_sign3/style.css'%}">
</head>
<body>

<div class="main">

    <h1>뱃또롱</h1>
    <div class="container">
        <div class="sign-up-content">

            <form method="POST" class="signup-form" action="login_session">
                {% csrf_token %}
                <div class="form-textbox">
                    <label for="mid">아이디</label>
                    <input type="text" name="mid" id="mid" />
                </div>
                <div class="form-textbox">
                    <label for="mpwd">패스워드</label>
                    <input type="password" name="mpwd" id="mpwd" />
                </div>
                <br>
                <div class="form-textbox">
                    <input type="submit" name="submit" id="submit" class="submit" value="로그인" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- JS -->
<script src="{% static 'vendor_sign3/jquery/jquery.min.js'%}"></script>
<script src="{% static 'js_sign3/main.js'%}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock %}