{% extends 'finalProject/header4.html'%}
{% block content %}
<style>
form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: left;
}
input, textarea {
    font: 1em sans-serif;
    width: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button {
    padding-center: 90px;
}
</style>
<!--myq_delete-->
<h1>문의 글 보기</h1>
<form method="post">
    {% for e in detail_view %}
    <table class="myQDetail">
        <!--        <div>-->
        <!--            <label for="mid">글번호</label>-->
        <!--            <input type="text" id="qnum" name="qnum" value="{{qnum}}"/>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--            <label for="mid">회원 아이디</label>-->
        <!--            <input type="text" id="mid" name="mid" value="{{request.session.mid}}"/>-->
        <!--        </div>-->
        <div>
            <label style="float:left">제목 :</label>
            <!--            <input type="text" value="{{e.2}}" style="text-align:center"/>-->
            <label style="float:left">{{e.2}}</label>
        </div>
        <br>
        <br>

        <div>
            <label style="float:left">내용 :</label>
            <textarea style="width:400px ; height:300px ; float:center" placeholder="{{e.3}}" value="{{e.3}}"></textarea>
        </div>

        <div class="button">
            <button type="button" id="delMyQ">삭제</button>
            <button type="button" onclick="location.href='myquestion'">내 문의</button>
        </div>
    </table>
    {% endfor %}
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function(){
    // 삭제 처리
        $('#delMyQ').click(function(){
            if(confirm('삭제하시겠습니까?')){
                document.delMyQ.action="myq_delete";
                document.delMyQ.submit();
            }
        });
    });
</script>
{% endblock %}