{% extends 'finalProject/header4.html'%}
{% block content %}
<body>
<form>
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>글 번호</B></td>
            <td><B>작성 아이디</B></td>
            <td><B>글 제목</B></td>
            <td><B>조회수</B></td>
            <td><B>작성날짜</B></td>
        </tr>
        </thead>
        <tbody>
<!--            for e in cursor.fetchall():-->
<!--        print("e"," : ",e)-->
<!--        qnum, mid, qtitle, qcontent, qhit, qdate = e-->
<!--        print("글번호: ",qnum)-->
<!--        print("회원ID : ",mid)-->
<!--        print("제목 : ",qtitle)-->
<!--        print("조회수 : ",qhit)-->
<!--        print("작성날짜 : ",qdate)-->
        {% for e in qlist %}
        <tr>
            <td>{{e.qnum}}</td>
            <td>{{e.mid}}</td>
            <td>{{e.qtitle}}</td>
            <td>{{e.qhit}}</td>
            <td>{{e.qdate}}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
    {{qlist}}
</form>
</body>
{% endblock %}