{% extends 'finalProject/header4.html'%}
{% block content %}
<body>
<form action="myquestion2" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>글 번호</B></td>
            <td><B>작성 아이디</B></td>
            <td><B>글 제목</B></td>
            <td><B>조회수</B></td>
            <td><B>작성날짜</B></td>
        </tr>
        </thead>
        <tbody>
        {% for test_question in test_question %}
        <tr>

            <td>{{test_question.qnum}}</td>
            <td>{{test_question.mid}}</td>
            <td>{{candidate.qtitle}}</td>
            <td>{{candidate.qhit}}</td>
            <td>{{candidate.qdate}}</td>
        </tr>
        {% endfor %}

        <tbody>
    <a>qnum</a>
    </table>
</form>
</body>
{% endblock %}