{% extends 'finalProject/header4.html'%}
{% block content %}
<style>
      table.notice {
      border-collapse: collapse;
      text-align: center;
      line-height: 1.5;
      border-left: 1px solid #ccc;

      }
      table.notice thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #369;
      border-bottom: 3px solid #036;
      }
      table.notice tbody th {
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #ececec;
      }
      body {
      /* Set "my-sec-counter" to 0 */
      counter-reset: my-sec-counter;
      }

      td.counter::before {
      /* Increment "my-sec-counter" by 1 */
      counter-increment: my-sec-counter;
      content: counter(my-sec-counter);
      }
      table.notice td {
      width: 350px;
      padding: 10px;
      vertical-align: top;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      }
</style>
<div class="container">
    <br>
    <div align="left">
        <h1 style="">NOTICE BOARD</h1>
    </div>
    <br>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#round1">공지사항</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="round1">
                <table class="notice" style="width: 99% ;">
                    <thead>
                    <tr>
                        <th scope="cols" width="9%">번호</th>
                        <th scope="cols">제목</th>
                        <!--        <th scope="cols">조회수</th>-->
                        <th scope="cols" width="15%">게시자</th>
                        <th scope="cols" width="20%">등록날짜</th>
                    </tr>
                    </thead>
                    <!--        참고 링크 : https://djangobook.com/mdj2-django-templates/-->
                    <tbody>
                    {% for e in nlist %}
                    <tr>
                        <!--                            위의 style 에서 DB의 글번호와는 달리 따로 게시글 번호를 부여 받을 수 있도록 하였다-->
                        <td class="counter"></td>
                        <td><a href="notice_detail?nnum={{e.0}}">{{e.1}}</a></td>
                        <td>관리자</td>
                        <td>{{e.4|date:"Y-m-d"}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}