{% extends 'finalProject/header4.html'%}
{% block content %}
<style>
    table.type08 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
}

table.type08 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
table.type08 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}
table.type08 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

</style>
<body>
<a>공지사항</a>
<br>
<!--<table style="width:90%; float:center">-->
<!--				<thead>-->
<!--					<tr>-->
<!--						<th>번호</th>-->

<!--						<th>제목</th>-->
<!--						<th>작성자</th>-->
<!--						<th>날짜</th>-->
<!--					</tr>-->
<!--				</thead>-->
<!--				<tfoot>-->
<!--					<tr>-->
<!--						<td colspan="4" style="text-align: right;">-->
<!--						<input type="button" id="wBtn" value="write">-->
<!--					</td>-->
<!--					</tr>-->
<!--				</tfoot>-->
<!--				<tbody>-->
<!--					<c:forEach var="e" items="${lists }">-->
<!--						<tr>-->
<!--							<td>${e.num }</td>-->
<!--							<td>${e.title }</td>-->
<!--							<td>${e.writer }</td>-->
<!--							<td>${e.rdate }</td>-->
<!--						</tr>-->
<!--					</c:forEach>-->
<!--				</tbody>-->
<!--			</table>-->
<table class="type08" style="width: 99% ;">
    <thead>
<!--    # NNUM-->
<!--    # NTITLE-->
<!--    # NCONTENT-->
<!--    # NHIT-->
<!--    # NDATE-->
    <tr>
<!--        <th scope="cols">글번호</th>-->
        <th scope="cols">제목</th>
        <th scope="cols">조회수</th>
<!--        <th scope="cols">등록날짜</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
<!--        <th scope="row">항목명</th>-->
       {% for (nnum, ntitle, ncontent, nhit, ndate) in nlist %}
        <tr>
<!--            <td>{{nnum}}</td>-->
            <td><a href="#">{{ntitle}}</a></td>
            <td>{{nhit}}</td>
<!--            <td>{{ndate}}</td>-->
        </tr>
        {% endfor %}
    </tr>
    <!-- for 문으로 그리고 페이징 처리도 -->
    </tbody>
    {{nlist}}
</table>
</body>
{% endblock %}