{% extends 'finalProject/header4.html'%}
{% block content %}
<style>
    table.type08 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
}

table.type08 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
table.type08 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}
table.type08 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

</style>
<div class="container">
    <br>
    <div align="left">
        <h1 style="">NOTICE BOARD</h1>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <!--            <h1>경마 소개</h1>-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#round1">공지사항</a>
                </li>
                <!--                같은 페이지에서 탭 전환; 아래 탭 추가 필요-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" data-toggle="tab" href="#round2">탭 추가</a>-->
                <!--                </li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="round1">
                    <br>
                    <table class="type08" style="width: 99% ;">
                        <thead>
                        <tr>
                            <!--        <th scope="cols">글번호</th>-->
                            <th scope="cols">제목</th>
                            <!--        <th scope="cols">조회수</th>-->
                            <th scope="cols" width="20%">등록날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <!--        <th scope="row">항목명</th>-->
                            <!--        https://djangobook.com/mdj2-django-templates/-->
                            {% for (nnum, ntitle, ncontent, nhit, ndate) in nlist %}
                        <tr>
                            <!--            <td>{{nnum}}</td>-->
                            <td><a href="#">{{ntitle}}</a></td>
                            <!--            <td>{{nhit}}</td>-->
                            <td>{{ndate}}</td>
                        </tr>
                        {% endfor %}
                        </tr>
                        <!-- for 문으로 그리고 페이징 처리도 후순위로 고려 중-->
                        </tbody>
                        <!--    for 문 없이도 값이 넘어오는지 테스트 용-->
                        <!--    {{nlist}}-->
                    </table>
                    <!--로그인 한 회원 개인이 볼 수 있도록 수정 중-->
                    <!--<form action="myquestion" method="post">-->
                    <!--    <button type="button" onclick="location.href='finalProject/myquestion.html'">나의 문의</button>-->
                    <!--</form>-->
                </div>

                <!--                위의 탭을 추가했을 때 탭 안에 추가할 내용이 들어가야 하는 부분 (p태그 안에)-->
                <!--                <div class="tab-pane fade" id="round2">-->
                <!--                    <p>Nunc vitae turpis id nibh sodales commodo et non augue. Proin fringilla ex nunc. Integer tincidunt risus ut facilisis tristique.</p>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}