{% extends 'finalProject/header4.html' %}
{% block content %}
<style>
    table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
</style>
<body>
<table class="type09" align="center">
    <thead>
    <tr>
        <th scope="cols">제주도 경마 공원</th>
<!--        <th scope="cols">내용</th>-->
    </tr>
    </thead>
    <tbody>
    <tr>
<!--        <th scope="row">항목명</th>-->
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr colspan="4">
        <th colspan="4">
            <img src="/static/image/race1.jpg" title="경마" style="width:48% ; float:left"></a>
            <a>애월의 숲 제주승마공원, 말과 함께 세상을 달린다.산악승마, 해변승마, 산림욕승마, 승마캠프 등 최장거리 100km의 승마 트레킹 코스를 갖춰 원하는 코스를 다양하게 선택할 수 있다.
            말과 함께 펼치는 기승쇼, 부부 승마 아카데미, 어린이 승마캠프, 기업체 승마 워크숍 등 최적의 승마 레저 스포츠를 즐길 수 있다.
                국제승마연맹 전문가 초청 강연, 초보에서 고급과정까지 최고의 강사진 프로그램을 운영하고 있다.</a>
        </th>
    </tr>
    </tbody>
</table>
{% endblock %}