<!--승마장 추천할 때 radio 기능하면 다시 게시글 정렬 해줄 페이지-->
{% extends 'finalProject/header4.html' %}
{% block content %}
<!--위의 두 줄은 헤더 붙이기 위한-->
<!--아래의 style 도 외부에서 form 가져오면서 그대로 가져옴-->
<style>
  table.sungma_chu {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  }
  table.sungma_chu thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #369;
      border-bottom: 3px solid #036;
  }
  table.sungma_chu tbody th {
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #f3f6f7;
  }
  table.sungma_chu td {
      width: 350px;
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
  }
  tr.colums {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #369;
      border-bottom: 3px solid #036;
  }
</style>
<div class="container">
    <br>
    <div align="left">
        <h1 >승마 체험장 추천</h1>
        <h6 style="color:#D8D8D8">테이블 아래 부대시설 옵션을 선택하여 재정렬 할 수 있습니다</h6>
    </div>
    <br>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#round1">제주도</a>
            </li>
            <!--                탭을 추가할 필요가 있을 때 아래의 주석 해제-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" data-toggle="tab" href="#round2">탭 추가 옵션</a>-->
            <!--                </li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="round1">
                <form action="rideSearch" method="post" style="width:auto ; float:center">
                    {% csrf_token %}
                    <div style="float:right">
                        <button type="button" onclick="location.href='riderecom1'">전체 리스트로 돌아가기</button>
                    </div>
                    <br>
                    <br>
                    <table class="sungma_chu">
                        <tbodys>
                            <tr id="colums" class="colums" colspan="5">
                                <td>타이틀</td>
                                <td>주소</td>
                                <td>연락처</td>
                                <td>참고링크</td>
                                <td>부대시설</td>
                            </tr>

                            {% for (pnum, pname, paddr, ptel, plink, pplace, pdate) in res2 %}
                            <tr>
                                <td>{{pname}}</td>
                                <td>{{paddr}}</td>
                                <td>{{ptel}}</td>
                                <td>{{plink}}</td>
                                <td>{{pplace}}</td>
                            </tr>
                            {% endfor %}
                        </tbodys>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
$(":checkbox[name='chk_pplace']:checked").length

var checked_seq = "";
   $(":checkbox[name='chk_pplace']:checked").each(function(i,e){
       if(checked_seq == ""){
         checked_seq = e.value;
        }else{
         checked_seq += "^"+e.value;
        }
   });
</script>
{% endblock %}