{% extends 'finalProject/header4.html' %}
{% block content %}
<!--위의 두 코드는 헤더를 붙이기 위한-->
<div class="container">
    <br>
    <div align="left">
        <h1 style="">승마 소개</h1>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#round1">승마란?</a>
                </li>
                <!--                탭 전환을 위한 새 탭 추가시 주석 해제 필요-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" data-toggle="tab" href="#round2">2라운드</a>-->
                <!--                </li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="round1">
                    <p>승마(乘馬)는 광의로는 말을 타는 행위 전반(영어: Equestrianism, horse riding)을 의미하며, 협의로는 근대 마술을 의미한다. 또한 승용에 사용되는 말 (승용마) 자체도 가리킨다. 말을 타고, 부리고, 장애물을 넘게 하는 활동을 가리킨다. 여기에는 실용적인 용도의 작업을 위한 것이나 놀이를 위한 것, 예술 및 문화적 활동, 스포츠 경기로서의 승마가 모두 포함된다. </p>
                </div>
<!--                탭 추가 필요하면 내용은 아래의 p 태그 안에 추가-->
<!--                <div class="tab-pane fade" id="round2">-->
<!--                    <p>Nunc vitae turpis id nibh sodales commodo et non augue. Proin fringilla ex nunc. Integer tincidunt risus ut facilisis tristique.</p>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}