<!--경기 후 누가 주인공인지 보여주는 페이지-->
{% extends 'finalProject/header4.html' %}
{% block content %}
<!--위의 두 줄은 헤더를 붙이기 위한 코드-->
<!--미완성-->
<style>
      p { margin:20px 0px; }
    </style>
<style type="text/css">
            @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

            body {
<!--                background: #363f48;-->
                color: black;
                font: normal 12px 'Open Sans', sans-serif;
                margin-top: 20px;
            }
            table {
            position : center;

            }
            a {
                color: #76949F;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
                background : gray;
            }

            .source {
                width: 405px;
                margin: 0 auto;
                background: #4f5861;
                color: #a7abb1;
                font-weight: bold;
                display: block;
                white-space: pre;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                        border-radius: 3px;
            }

            .btn {
                background: #f56c4c;
                margin: 40px auto;
                padding: 12px;
                display: block;
                width: 100px;
                color: white;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                -webkit-border-radius: 2px;
                   -moz-border-radius: 2px;
                        border-radius: 2px;
            }

            .btn:hover {
                text-decoration: none;
                opacity: .7;
            }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1 align="left">주인공 예측하기</h1>
            <br>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#round1">1라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#round2">2라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#round3">3라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#round4">4라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#round5">5라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#round6">6라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#round7">7라운드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#round8">8라운드</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="round1">
                    <br>
                    <table>
                        <tr>
                            <td><a><font size="24">사진</font></a></td>
                            {% for a in predict_list1 %}
                            <td>
                                <img src="/static/image/horse/{{a.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:200px">
                            <td><a><font size="24">마명</font></a></td>
                            {% for a in predict_list1 %}
                            <td>
                                <font size="16">{{a.1}}</font>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:200px">
                            <td><a><font size="24">기록</font></a></td>
                            {% for a in predict_list1 %}
                            <td>
                                <font size="16">{{a.9}}</font>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr float="right" style="height:200px">
                            <td><a><font size="24">스펙</font></a></td>
                            <td colspan="3">
                                {% for a in predict_list1 %}
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                <table class="juingong" style="display:inline-block; float:center" >
                                    <tr>
                                        <th>이름</th>
                                        <td>{{a.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{a.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{a.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{a.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{a.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{a.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{a.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="round2">
                    <br>
                    <table>
                        <tr>
                            <td><font size="24">사진</font></td>
                            {% for b in predict_list2 %}
                            <td>
                                <img src="/static/image/horse/{{b.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:200px">
                            <td><font size="24">마명</font></td>
                            {% for b in predict_list2 %}
                            <td>
                                <font size="16">{{b.1}}</font>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:200px">
                            <td><font size="24">기록</font></td>
                            {% for b in predict_list2 %}
                            <td>
                                {{b.9}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:200px">
                            <td><font size="24">스펙</font></td>
                            <td colspan="3">
                                {% for b in predict_list2 %}
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                <table class="juingong" style="display:inline-block;">
                                    <tr>
                                        <th>이름</th>
                                        <td>{{b.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{b.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{b.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{b.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{b.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{b.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{b.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="round3">
                    <br>
                    <table>
                        <tr>
                            <td>사진</td>
                            {% for c in predict_list3 %}
                            <td>
                                <img src="/static/image/horse/{{c.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>마명</td>
                            {% for c in predict_list3 %}
                            <td>
                                {{c.1}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>예측기록</td>
                            {% for c in predict_list3 %}
                            <td>
                                {{c.9}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>스펙</td>
                            <td colspan="3">
                                {% for c in predict_list3 %}
                                <table class="juingong" style="display:inline-block;">
                                    <tr>
                                        <th>이름</th>
                                        <td>{{c.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{c.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{c.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{c.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{c.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{c.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{c.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="round4">
                    <br>
                    <table>
                        <tr>
                            <td>사진</td>
                            {% for d in predict_list4 %}
                            <td>
                                <img src="/static/image/horse/{{d.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>마명</td>
                            {% for d in predict_list4 %}
                            <td>
                                {{d.1}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>예측기록</td>
                            {% for d in predict_list4 %}
                            <td>
                                {{d.9}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>스펙</td>
                            <td colspan="3">
                                {% for d in predict_list4 %}
                                <table class="juingong" style="display:inline-block;">
                                    <tr>
                                        <th>이름</th>
                                        <td>{{d.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{d.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{d.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{d.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{d.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{d.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{d.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="round5">
                    <br>
                    <table>
                        <tr>
                            <td>사진</td>
                            {% for e in predict_list5 %}
                            <td>
                                <img src="/static/image/horse/{{e.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>마명</td>
                            {% for e in predict_list5 %}
                            <td>
                                {{e.1}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>예측기록</td>
                            {% for e in predict_list5 %}
                            <td>
                                {{e.9}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>스펙</td>
                            <td colspan="3">
                                {% for e in predict_list5 %}
                                <table class="juingong" style="display:inline-block;">
                                    <tr>
                                        <th>이름</th>
                                        <td>{{e.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{e.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{e.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{e.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{e.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{e.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{e.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="round6">
                    <br>
                    <table>
                        <tr>
                            <td>사진</td>
                            {% for f in predict_list6 %}
                            <td>
                                <img src="/static/image/horse/{{f.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>마명</td>
                            {% for f in predict_list6 %}
                            <td>
                                {{f.1}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>예측기록</td>
                            {% for f in predict_list6 %}
                            <td>
                                {{f.9}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>스펙</td>
                            <td colspan="3">
                                {% for f in predict_list6 %}
                                <table class="juingong" style="display:inline-block;">
                                    <tr>
                                        <th>이름</th>
                                        <td>{{f.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{f.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{f.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{f.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{f.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{f.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{f.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="round7">
                    <br>
                    <table>
                        <tr>
                            <td>사진</td>
                            {% for g in predict_list7 %}
                            <td>
                                <img src="/static/image/horse/{{g.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>마명</td>
                            {% for g in predict_list7 %}
                            <td>
                                {{g.1}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>예측기록</td>
                            {% for g in predict_list7 %}
                            <td>
                                {{g.9}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>스펙</td>
                            <td colspan="3">
                                {% for g in predict_list7 %}
                                <table class="juingong" style="display:inline-block;">
                                    <tr>
                                        <th>이름</th>
                                        <td>{{g.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{g.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{g.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{g.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{g.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{g.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{g.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="round8">
                    <br>
                    <table>
                        <tr>
                            <td>사진</td>
                            {% for h in predict_list8 %}
                            <td>
                                <img src="/static/image/horse/{{h.8}}" width="300px" height="150px"/>
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>마명</td>
                            {% for h in predict_list8 %}
                            <td>
                                {{h.1}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr style="height:100px">
                            <td>예측기록</td>
                            {% for h in predict_list8 %}
                            <td>
                                {{h.9}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>스펙</td>
                            <td colspan="3">
                                {% for h in predict_list8 %}
                                <table class="juingong" style="display:inline-block;">
                                    <tr>
                                        <th>이름</th>
                                        <td>{{h.1}}</td>
                                    </tr>
                                    <tr>
                                        <th>나이</th>
                                        <td>{{h.2}}</td>
                                    </tr>
                                    <tr>
                                        <th>성별</th>
                                        <td>{{h.3}}</td>
                                    </tr>
                                    <tr>
                                        <th>산지</th>
                                        <td>{{h.4}}</td>
                                    </tr>
                                    <tr>
                                        <th>부중</th>
                                        <td>{{h.5}}</td>
                                    </tr>
                                    <tr>
                                        <th>출전횟수</th>
                                        <td>{{h.6}}</td>
                                    </tr>
                                    <tr>
                                        <th>우승횟수</th>
                                        <td>{{h.7}}</td>
                                    </tr>
                                </table>
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                &nbsp
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% endblock %}