<%@ page pageEncoding="utf-8" %>
<%@ include file="/WEB-INF/pages/includes/pages.jspf" %>
<%@ include file="/WEB-INF/pages/includes/taglibs.jspf" %>
<%@ include file="/WEB-INF/pages/includes/variables.jspf" %>
<!DOCTYPE html>
<html lang="ko">
<head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width,user-scalable=no,target-densitydpi=medium-dpi" />
 <title>15. 좌석예약2</title>

 <link rel="stylesheet" type="text/css" href="<c:url value="${dirCommonScripts}/jquery.mobile-1.2.0.css" />">
 <link rel="stylesheet" type="text/css" href="<c:url value="${dirCommonStyles}/default.css"/>">
 <link rel="stylesheet" type="text/css" href="<c:url value="${dirCommonStyles}/style.css"/>">

 <script type="text/javascript" src="<c:url value="${dirCommonScripts}/jquery.js" />"></script>
 <script type="text/javascript" src="<c:url value="${dirCommonScripts}/jquery.mobile-1.2.0.min.js" />"></script>
 <script type="text/javascript">
 function link(){
  window.open('#','_self','')
 }
 </script>
</head>
<body>
 <div data-role="page" id="wrap">

  <%--top.jsp --%>
  <%@ include file="/WEB-INF/pages/main/header.jsp" %>

  <%--pageName.jsp --%>
  <%@ include file="/WEB-INF/pages/main/pageName.jsp" %>

  <%-- contents --%>
    <section id="content">
  <!-- ------------------------ 컨텐츠 시작 -------------------------->
    <ul class="seatres">
   <li>
    <input type="text" id="seatres_fname" value="&nbsp;&nbsp;열람실 실명 (Facilities name)" data-role="none" />
   </li>
   <li class="nameyear">
    <span class="span_name"><input type="text" class="seatres_name" value="&nbsp;&nbsp;홍길동(이름)" data-role="none" /></span>
    <span class="span_num"><input type="text" class="seatres_num" value="123456789(학번)" data-role="none" /> </span>
   </li>
  </ul>
  <div class="seatres_data_time">
   <div class="seatres_data_title">
    <h3>이용날짜 선택</h3>
   </div>
   <div class="seatres_data_sec">
    <div class="seatres_data">
     <div class="seatres_time_in_data">
      <ul>
       <li><span onclick="link()">2012-08-41</span></li><p></p>
       <li><span onclick="link()" class="seatres_time_on">2012-08-41</span></li><p></p>
       <li><span onclick="link()">2012-08-41</span></li>
      </ul>

      <ul>
       <li><span onclick="link()">2012-08-41</span></li><p></p>
       <li><span onclick="link()">2012-08-41</span></li><p></p>
       <li><span onclick="link()">2012-08-41</span></li>
      </ul>

      <ul>
       <li><span onclick="link()">2012-08-41</span></li><p></p>
       <li><span onclick="link()">2012-08-41</span></li><p></p>
       <li></li>
      </ul>
     </div>
    </div>
   </div>
   <div class="seatres_data_title">
    <h3>이용시간 선택</h3>
   </div>
   <div class="seatres_time_line">
    <div class="seatres_time_in">
      <ul>
       <li><span onclick="link()">1hr</span></li><p></p>
       <li><span onclick="link()" class="seatres_time_on">2hrs</span></li><p></p>
       <li><span onclick="link()">3hrs</span></li><p></p>
       <li><span onclick="link()">4hrs</span></li>
      </ul>
    </div>
    <div class="seatres_time_adjust_line">
     <div class="seatres_time_adjust">
      <input type="text" class="seatres_name" value="17:00 ~ 16:00" data-role="none" />
     </div>
     <ul class="time_control">
      <li class="time_control_button"></li>
      <li class="time_control_bar"></li>
     </ul>
     <div class="btn_seatres_time" onclick="link()">조회하기</div>
     <div class="btn_seatres_time_sel" onclick="link()">조회하기</div>
    </div>
   </div>
  </div>
  <div class="classarea_outline">
   <div class="classarea">
    <ul>
     <li onclick="link()"><span class="classarea_box">&nbsp;</span>협업코너A-1구역</li>
     <li class="sel" onclick="link()"><span class="classarea_box_on">&nbsp;</span>열람실A-2구역</li>
     <li onclick="link()"><span class="classarea_box">&nbsp;</span>열람실A-3구역</li>
    </ul>
    <div class="classarea_num">
      <ul id="classarea_num_list">
       <li onclick="link()"><span>001</span></li>
       <li onclick="link()"><span>002</span></li>
       <li class="sel" onclick="link()"><span>003</span></li>
       <li onclick="link()"><span>004</span></li>
       <li onclick="link()"><span>005</span></li>
       <li onclick="link()"><span>006</span></li>
       <li onclick="link()"><span>007</span></li>
       <li onclick="link()"><span>008</span></li>
       <li onclick="link()"><span>009</span></li>
       <li onclick="link()"><span>010</span></li>
       <li onclick="link()"><span>011</span></li>
       <li onclick="link()"><span>012</span></li>
       <li onclick="link()"><span>013</span></li>
       <li onclick="link()"><span>014</span></li>
       <li onclick="link()"><span>015</span></li>
       <li onclick="link()"><span>016</span></li>
       <li onclick="link()"><span>017</span></li>
       <li onclick="link()"><span>018</span></li>
       <li onclick="link()"><span>019</span></li>
       <li onclick="link()"><span>020</span></li>
     </ul>
    </div>
   </div>
  </div>
  <!-- ------------------------ 컨텐츠 끝 ---------------------------->
  </section>
  <%--footer.jsp --%>
     <%@ include file="/WEB-INF/pages/main/bottom.jsp" %>
 </div>
</body>
</html>
