{% extends 'finalProject/header4.html'%}
{% block content %}
<body>
<div id="content" data-role="main">

    <h1>Q&A</h1>
    <p>{{qlist}}</p>
    <table id="customers">
        <thead>
        <tr>
<!--            <th>글번호</th>-->
            <th>아이디</th>
            <th>제목</th>
            <th>조회수</th>
<!--            <th>작성날짜</th>-->
        </tr>
        </thead>
        {% for (qnum, mid, qtitle, qcontent, qhit, qdate) in qlist %}
        <tr>
<!--            <td>{{qnum}}</td>-->
            <td>{{mid}}</td>
            <td>{{qtitle}}</td>
            <td>{{qhit}}</td>
<!--            <td>{{qdate}}</td>-->
        </tr>
        {% endfor %}
    </table>
</div>
</body>
{% endblock %}