<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
{% load static %}
<div data-role="page" id="page1">
   <div id="header" data-role="header">
       <div data-role="navbar">
       <ul><li><a href="#page1" data-transition="slideup" class="ui-btn-active">Home</a></li>
           <li><a href="#page2" data-transition="slideup">Address</a></li>
            <li><a href="survey" class="ui-btn-active">survey</a></li>
           <li><a href="admin">Admin</a></li>
       </ul>
       </div>
   </div>
    <div id="content" data-role="main">
        <p style="text-align:center"><img src="{% static 'image/peng1.jpeg' %}" style="width:80%"></p>
         <h1>설문참여 결과확인</h1>
    <table id="customers">
    <thead>
    <tr>
    <th>문항</th>
    <th>응답수</th>
    <th>답변율</th>
    </tr>
    </thead>
    {%for raw,ans in surveyList%}
        <tr>
            <td>{{ans}}</td>
            <td>{{raw.sum_sum}}</td>
            <td>{{raw.rate}}</td>
        </tr>
    {%endfor%}
    <tr>
        <th colspan="3"> <!-- ui-btn-inline : 크기만큼 사이즈 변경-->
            <input type="button" value="설문참여" id="btn1">
        </th>
    </tr>
</table>
    </div>
    <div id="footer" data-role="footer">여기는 하단..</div>
</div>












<h2>당신은 {{ans}}를 선택했군요</h2>
<p>
    <a href = "/survey">투표하기</a>&nbsp; <a href="/result2">결과확인</a>

</p>
</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function(){
    ${'#btn1).click(function(){
    location.href="/survey";
    });
    });
</script>
</body>
</html>