{% extends 'finalProject/header4.html' %}
{% block content %}
<style>
    table.rideintro {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
}
table.rideintro thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.rideintro tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.rideintro td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
a.title{
    position : bottom
}
tr.colums {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
</style>
<body>
<div>
 <table id="rideintro" class="rideintro" >
  <thead>
  <th width="40%"><h2 style="underline">승마소개</h2></th>
  </thead>
  <tbody>
  <th>
   <a>승마(乘馬)는 광의로는 말을 타는 행위 전반(영어: Equestrianism, horse riding)을 의미하며, 협의로는 근대 마술을 의미한다. 또한 승용에 사용되는 말 (승용마) 자체도 가리킨다. 말을 타고, 부리고, 장애물을 넘게 하는 활동을 가리킨다. 여기에는 실용적인 용도의 작업을 위한 것이나 놀이를 위한 것, 예술 및 문화적 활동, 스포츠 경기로서의 승마가 모두 포함된다. </a>
  </th>

  </tbody>
  <tfoot></tfoot>
 </table>
</div>
</body>
{% endblock %}