{% extends 'finalProject/header4.html' %}
{% block content %}
<style>
    table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
a.title{
    position : bottom
}
</style>
<body>
<form method="get" action="recom_list" style="width:auto; float:right">
    {% csrf_token %}
    <table class="type09" align="center">
        <thead>
        <tr>
            <th scope="cols">제주도</th>
            <!--        <th scope="cols">내용</th>-->
        </tr>
        </thead>
        <tbody>
        <tr colspan="6">
            <!--        <th scope="row">항목명</th>-->
            <td><input type="checkbox" id="select1" value="parking"><label for="select1">주차장</label></td>
            <td><input type="checkbox" id="select2" value="park"><label for="select1">공원</label></td>
            <td><input type="checkbox" id="select3" value="transport"><label for="select1">역앞</label></td>
            <td><input type="submit" value="정렬" onclick="location.href='rideSearch'"></td>
        </tr>
        <tr>
            <th colspan="6">
                <img src="/static/image/riderecom1.jpg" title="제주" style="width:30%" >
                <img src="/static/image/riderecom2.jpg" title="제주" style="width:30%">
                <img src="/static/image/riderecom3.jpg" title="제주" style="width:30%">

            </th>
        </tr>
        <!--    <tr>-->
        <!--        <th scope="row">항목명</th>-->
        <!--        <td>내용이 들어갑니다.</td>-->
        <!--    </tr>-->
        </tbody>
        <tfoot>
        <tr colspan="4" style="">
            {% for (pnum, pname, paddr, ptel, plink, pplace, pdate) in plist %}
                        <td>{{pnum}}</td>
            <td>
                <a id="title" name="title">{{pname}}</a>
            </td>
                        <td>{{paddr}}</td>
                        <td>{{ptel}}</td>
                        <td>{{plink}}</td>
                        <td>{{pplace}}</td>
                        <td>{{pdate}}</td>
            {% endfor %}
        </tr>
        </tfoot>
    </table>
    <!--    {{plist}}-->
</form>
{% endblock %}