{% extends 'finalProject/header4.html'%}
{% block content %}

{% load static %}
{% static "" as baseUrl %}

<!-- Load c3.css -->
<link href="{% static 'js/c3.css'%}" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="{% static 'js/d3.min.js'%}" charset="utf-8"></script>
<script src="{% static 'js/c3.min.js'%}"></script>


<div id="chart"></div>

<script>
var chart = c3.generate({
    data: {
        columns: [
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 130, 100, 140, 200, 150, 50]
        ],
        type: 'bar'
    },
    bar: {
        width: {
            ratio: 0.5 // this makes bar width 50% of length between ticks
        }
        // or
        //width: 100 // this makes bar width 100px
    }
});

setTimeout(function () {
    chart.load({
        columns: [
            ['data3', 130, -150, 200, 300, -200, 100]
        ]
    });
}, 1000);
</script>
{% endblock %}