{% extends 'finalProject/header4.html'%}
{% block content %}

{% load static %}
{% static "" as baseUrl %}

<!-- Load c3.css -->
<link href="{% static 'css/c3.css'%}" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="{% static 'js/d3.min.js'%}" charset="utf-8"></script>
<script src="{% static 'js/c3.min.js'%}"></script>
<div id="chart" align="center"></div>
{{surveyList}}
<table align="center">
    <tr>
        <th>문항</th>
        <th>응답수</th>
        <th>답변율</th>
    </tr>
    {%for raw,ans in surveyList%}

    <tr>
        <td>{{ans}}</td>
        <td>{{raw.sum_sum}}</td>
        <td>{{raw.rate}}</td>
    </tr>
    {%endfor%}
    <tr>
        <th colspan="3">
            <input type="button" value="설문참여" id="btn1">
        </th>
    </tr>
    <tr>
        <input type="button" value="Ajax" id="btn2">
    </tr>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function(){
        $('#btn1').click(function(){
            location.href="whoispick1";
        });

        $('#btn2').click(function(){
        console.log("test");
<!--        버튼 클릭시 작동하는지 확인용-->
            $.ajaxPrefilter('json',function(options,orig,jqXHR){
                return 'jsonp';
                });
            $.ajax({
                url : 'http://192.168.0.126/spring1127/jsonpTest3',
                type: 'GET',
                dataType : 'jsonp',
                jsonp : 'callback',
                success: function (result) {
                    console.log("result:"+result);
<!--                    result 값이 스프링으로부터 넘어오는지 확인용-->
                    makeDonutChart(result);
                    },
                error : function (result) {
                    console.log("error >>"+$(result).text());
                    }
        });
    });
    });

$(function makeDonutChart(jsonData){
   console.log("설문조사 : "+jsonData)
        var datas = new Array();
        for(var row in jsonData){ <!-- for문을 반복해 붓꽃 이름과 붓꽃의 데이터 값을 차례로 temp 배열에 넣어준다 -->
            var temp = new Array();
            console.log(row);
            temp.push(row);
            console.log(jsonData[row]);
            temp.push(jsonData[row]);
            datas.push(temp); <!-- temp 배열에 넣었던 데이터를 datas 에 for문이 반복되는 동안 차례로 넣는다 -->
        }
        console.log("Datas : "+datas);

        var chart = c3.generate({
            bindto : '#chart', <!-- chart2와 겹치지 않게 3으로 변경 -->
            data :{
                type : 'bar', <!-- 차트 타입도 도넛으로 변경 -->
                columns : datas
            }
        });
});
</script>
{% endblock %}