{% extends 'users/header3.html' %}
{% block content %}
<body class="text-center">
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-10 mx-auto">
        <h2 style="align: center">"말의 외부에는 사람의 내부에 좋은 무엇인가가 있습니다"</h2>
        <p align="right">-윈스턴 처칠-</p>
      </div>
    </div>
  </main>
  <a href="ride1"><img src="/static/image/ride1.jpg" title="승마" style="width:48% ; float:left"></a>
  <a href="race1"><img src="/static/image/race1.jpg" title="경마" style="width:48% ; float:right"></a>
</body>
{% endblock %}