{% extends 'users/header3.html' %}
{% block content %}
<body>
<div>
 <table>
  <thead>
  <th width="40%"><h2 style="underline">경마소개</h2></th>
  </thead>
  <tbody>
  <th>
   <a>경마(競馬; Horse racing)는 기수와 말이 일정한 구간을 달려서 순위를 겨루는 스포츠이다.

일반적 의미: 연령, 성별, 경주거리, 부담중량, 상금 등 정해진 조건하에서 2두 이상의 말을 달리게 하여 승부를 겨루는 경기에 고객이 돈을 걸고 즐기는 성인 레저이다.
법률적 의미: 기수가 기승한 말의 경주에 승마투표권(마권)을 발매하고 승마 적중자에게 환급금을 교부하는 행위를 말한다.[1]
별명은 ‘왕들의 스포츠’(Sports of Kings).

일반적으로 경마장에서 개최된다. 개개 경기를 경주라고 부르며, 하루동안 여러 차례의 경주가 벌어진다. 경주에서는 일반적으로 기수가 말을 타고 일정한 거리(경주로)를 달려, 가장 빨리 결승선에 도달한 말을 승리한 말로 한다. 결승지점에 도달한 것은 일반적으로 말의 코끝이 결승선을 통과했을 때로 본다.</a>
  </th>

  </tbody>
  <tfoot></tfoot>
 </table>
</div>
</body>
{% endblock %}