<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>product_list.html</title>
</head>
<body>
<div>
    {% load static %}
    {% static "" as baseUrl %} <!-- 이렇게 해야 변수를 받을 수 있다 -->
    <table>
        <thead>
        <tr>
            <td>상품번호</td>
            <td>상품이미지</td>
            <td>상품명</td>
            <td>가격</td>
        </tr>
        </thead>
        <tbody>
        {% for e in productList %}
        <tr>
            <td>{{e.product_id}}</td>
            <td>
                {% if e.picture_url != "-" %}
                <img src = "{{baseUrl}}images/{{e.picture_url}}"
                style = "width:100px; height:100px; border:0px">
                {% endif %}
            </td>
            <!--상품명에 하이퍼링크를 거실 생각이다.-->
            <td>
                <a href = "product_detail?product_id={{e.product_id}}">
                {{e.product_name}}
                </a><br>
                <a href = "product_edit?product_id={{e.product_id}}">Edit</a>
            </td>
            <td>{{e.price}}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr><td colspan="4">
            <input type="button" value="상품등록폼" id="btnAdd">
        </td></tr>
        </tfoot>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function(){
        $('#btnAdd').click(function(){
            location.href="product_write"
        });
    });
</script>
</body>
</html>