<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>product_write</title>
</head>
<body>
<form method="post" id="form1" name="form1" enctype="multipart/form-data">
{% csrf_token %}
    <p>상품명: <input type="text" name="product_name"></p>
    <p>가격: <input type="text" name="price"></p>
    <p>상품설명 : <textarea rows="5" cols="50" name="description" id="description"></textarea></p>
    <p>상품이미지: <input type="file" name="file1"></p>
    <p><input type="button" value="등록" onclick="product_write()">
    &nbsp; <input type="button" value="목록"></p>
</form>
<script>
    function product_write(){
    document.form1.action="product_insert"
    document.form1.submit()
    }
</script>
</body>
</html>